*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
kernel/kernel.ld
kernel/kernel.bin
user/usys.S
.gdbinit
duo-imgtools/milkv-duo_sdcard.img
duo-imgtools/kernel.bin
rm duo-imgtools/boot.sd 